<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  BlackJack
              </a>
          </li>
          <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out"></i> Deconnexion
              <% end %>
          </li>
      </ul>
  </div>
  <div id="page-content-wrapper" ng-app="blackjack">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="view-container">
                <div ng-view class="view-frame animate-view"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
